# --- Python ---
__pycache__/
*.py[cod]
*.pyc
*.pyo

# --- Virtual environments ---
.env
.venv/
venv/
*.env

# --- Jupyter ---
.ipynb_checkpoints/

# --- System files ---
.DS_Store
Thumbs.db

# --- Logs and temporary files ---
*.log
*.out
*.bak

# --- Data files  ---
/data/
data/
*.tif
*.h5
*.gpkg  # if you also want to ignore geopackage files (optional)

# --- Model or clustering outputs ---
/outputs/
*.ckpt
*.pth

#Checkpoint files for CNN
/checkpoints/
